<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>임시 패스워드 발급</title>
<link rel="stylesheet" href="/css/board.css">
<style>
.TemporalPassword {
  width:70%;
  height:auto;
  padding: 20px, 20px;
  background-color:#FFFFFF;
  text-align:center;
  border:5px;
  border-radius: 30px;
}
</style>
<script>
const pwSearchCheck = async() => {

	if(userid.value == "") { alert("아이디를 입력하세요."); userid.focus();  return false; }
	if(telno.value == '') { alert("전화번호를 입력하세요."); telno.focus(); return false; }

	let formData = new FormData(pwSearchForm);
	
	await fetch("/member/searchPassword", {			
		method: 'POST',
		body: formData			
		
	}).then((response)=> response.json())
	  .then((data) => {
		  if(data.status == 'GOOD'){				
			let result = "<br><br><h1>임시패스워드 : " + data.password + "</h1>";					
			TemporalPassword.innerHTML = result;
		  } else if(data.status == 'ID_NOT_FOUND'){
			  alert("해당 아이디를 가진 사용자가 없습니다.");
		  }	else if(data.status == 'TELNO_NOT_FOUND'){
			  alert("전화번호 입력이 잘못 되었습니다.");
		  }
	}).catch((error)=> {			
		console.log((error)=> console.log("error = " + error))
	});
}

const press = () => {
	if(event.keyCode == 13){ pwSearchCheck(); }
}
</script>

</head>
<body>
	<div class="main">
	
		<div>
			<img src="/images/logo.jpg" id="topBanner">
		</div>
		
		<div class="ModifyForm">
			<form name="pwSearchForm" class="pwSearchForm" id="pwSearchForm" method="post">
        		<h1>임시 패스워드 발급</h1>
        		   	<div class="pwSearchFormDivision">
         				<input type="text" name="userid" id="userid" class="input_field" placeholder="아이디를 입력하세요.">
         				<input type="text" id="telno" name="telno" class="input_field" onkeydown="press(this.form)" placeholder="전화번호를 입력하세요.">
         				<input type="button" id="btn_pwSearch" class="btn_write" value="임시 패스워드 발급" onclick="pwSearchCheck()"> 
          			<input type="button" class="btn_cancel" value="홈으로" onclick="javascript:location.href='/'">
        			</div> 
        	</form>
        	<div class="TemporalPassword" id="TemporalPassword"></div>
		</div>
	</div>

</body>
</html>